In [1]:
from groq import Groq
import pandas as pd

completion.choices[0].message.content

for chunk in completion:

        #     content = chunk.choices[0].delta.content  
        #     if content is not None:  
        #         a += content

In [2]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

# Get the API key
api_key = os.getenv("API_KEY")

print(f"Your API key is: {api_key}")  # For debugging, remove this later

Your API key is: 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

In [3]:
class GrokSQL:
    def __init__(self, api_key):
        self.api_key = api_key
        
        
    def generate_sql(self, user_query, table_schema=None):
        """
        Generate an SQL query from a user request.
        :param user_query: The request in plain English, e.g., "Get the total sales for each month."
        :param table_schema: (Optional) Schema of the table to provide context.
        :return: SQL query as a string.
        """ 
        client = Groq()
        prompt = f"Generate an SQL query only (without explanation) and return string contains only query for: {user_query} "
        
        if table_schema:
            prompt += f"\nTable Schema: {table_schema}"

        completion = client.chat.completions.create(
                model = "llama-3.3-70b-versatile",
                messages = [
                    {
                        "role": "user",
                        "content": prompt
                    }
                ],
                temperature=0,
                top_p=0.9,
                stream=False,
                stop=None,
        )

        
        return completion.choices[0].message.content.removeprefix('```sql').removesuffix('```').replace('\n',' ').strip()

In [4]:
# api_key = "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" 
sql_generator = GrokSQL(api_key)

user_query = "write a query for showing all columns from table empTab"
# user_query = "select all the car whose color is red and also are type B and sell after 2025"

table_schema = """
Tables:
    Car(id, name,color, type,sellDate))
"""

# Generate SQL
sql_query = sql_generator.generate_sql(user_query, table_schema)
a = sql_query

SELECT COUNT(DISTINCT customer_id)
FROM Orders
WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);

In [5]:
a

'SELECT * FROM Car;'

In [33]:
print(a)

SELECT * FROM Car;

In [139]:
queries = [
    # Basic Queries
    "Get all customer details.",
    "Retrieve all employees from the database.",
    "Show all products available in the inventory.",
    "List all orders placed today.",
    "Find all students enrolled in the school.",

    # Filtering (WHERE Clause)
    "Find all employees who work in the IT department.",
    "Show all customers from New York.",
    "Get a list of students who scored above 90% in Math.",
    "Retrieve all transactions greater than $500.",
    "Find orders placed between January and March 2024.",

    # Sorting (ORDER BY)
    "Show the top 10 highest-paid employees.",
    "List products sorted by their price in descending order.",
    "Get the latest 5 orders placed by customers.",
    "Show employees sorted alphabetically by their last name.",
    "Display students sorted by their total marks.",

    # Counting (COUNT)
    "Count the number of employees in each department.",
    "Find the total number of registered users.",
    "Get the number of products available in stock.",
    "Count how many orders were placed in the last 7 days.",
    "Find the number of complaints received this month.",

    # Grouping (GROUP BY)
    "Get the total revenue generated by each product category.",
    "Count the number of students in each grade.",
    "Find the number of orders placed by each customer.",
    "Show the total sales per region.",
    "Display the number of employees in each job position.",

    # Joining Tables (JOIN)
    "Get the names of customers along with their order details.",
    "Retrieve employee names and their respective department names.",
    "Show student names along with their course details.",
    "List all orders with their corresponding payment details.",
    "Find all authors and their published books.",

    # Date-Based Queries
    "Find all users who registered in the last 30 days.",
    "Show orders placed in the last week.",
    "Get the attendance records for the current month.",
    "List transactions that happened yesterday.",
    "Find employees who joined the company in 2023.",

    # Search (LIKE)
    "Find all products with 'phone' in their name.",
    "Get a list of customers whose names start with 'A'.",
    "Search for books with 'Data Science' in the title.",
    "Retrieve employee emails that contain 'company.com'.",
    "Show orders with special instructions containing 'fragile'.",

    # Range Queries (BETWEEN)
    "Get all orders with an amount between $1000 and $5000.",
    "Find students who scored between 75 and 90 marks.",
    "Show employees whose salaries are between $50,000 and $80,000.",
    "Retrieve sales data for the period 2020 to 2023.",
    "Find all customers aged between 25 and 40.",

    # Updating Data (UPDATE)
    "Update the salary of employees in the IT department by 10%.",
    "Mark all orders shipped if the delivery date is passed.",
    "Change the status of inactive users to ‘suspended’.",
    "Update all product prices with a 5% discount.",
    "Set all students’ grades to 'Pass' if their marks are above 40.",

    # Deleting Data (DELETE)
    "Delete all inactive users who haven’t logged in for a year.",
    "Remove employees who resigned last year.",
    "Delete all expired promotional coupons.",
    "Remove products that are out of stock for more than 6 months.",
    "Delete all spam comments from the database."
]

In [142]:
import pandas as pd

df = pd.DataFrame(columns=["user_query", "sql_query"])
for user_query in queries:
    sql_query = sql_generator.generate_sql(user_query)  # Generate SQL query
    df = pd.concat([df, pd.DataFrame({"user_query": [user_query], "sql_query": [sql_query]})], ignore_index=True)

In [152]:
df.to_csv('test.csv')

In [34]:
test_cases = [
    {
        "user_query": "Get all customer details.",
        "table_schema": "customers (id INT, name TEXT, email TEXT, phone TEXT, address TEXT)",
        "expected_sql": "SELECT * FROM customers;"
    },
    {
        "user_query": "Retrieve all employees from the database.",
        "table_schema": "employees (id INT, name TEXT, department TEXT, salary FLOAT, joining_date DATE)",
        "expected_sql": "SELECT * FROM employees;"
    },
    {
        "user_query": "Show all products available in the inventory.",
        "table_schema": "products (id INT, name TEXT, price FLOAT, stock INT, category TEXT)",
        "expected_sql": "SELECT * FROM products WHERE stock > 0;"
    },
    {
        "user_query": "List all orders placed today.",
        "table_schema": "orders (id INT, customer_id INT, total_amount FLOAT, order_date DATE)",
        "expected_sql": "SELECT * FROM orders WHERE order_date = CURRENT_DATE;"
    },
    {
        "user_query": "Find all students enrolled in the school.",
        "table_schema": "students (id INT, name TEXT, class TEXT, admission_date DATE)",
        "expected_sql": "SELECT * FROM students;"
    },
    {
        "user_query": "Find all employees who work in the IT department.",
        "table_schema": "employees (id INT, name TEXT, department TEXT, salary FLOAT)",
        "expected_sql": "SELECT * FROM employees WHERE department = 'IT';"
    },
    {
        "user_query": "Get a list of students who scored above 90% in Math.",
        "table_schema": "marks (student_id INT, subject TEXT, score INT)",
        "expected_sql": "SELECT student_id FROM marks WHERE subject = 'Math' AND score > 90;"
    },
    {
        "user_query": "Show the top 10 highest-paid employees.",
        "table_schema": "employees (id INT, name TEXT, department TEXT, salary FLOAT)",
        "expected_sql": "SELECT * FROM employees ORDER BY salary DESC LIMIT 10;"
    },
    {
        "user_query": "Count the number of employees in each department.",
        "table_schema": "employees (id INT, name TEXT, department TEXT)",
        "expected_sql": "SELECT department, COUNT(*) FROM employees GROUP BY department;"
    },
    {
        "user_query": "Retrieve employee names and their respective department names.",
        "table_schema": "employees (id INT, name TEXT, department_id INT), departments (id INT, name TEXT)",
        "expected_sql": "SELECT employees.name, departments.name FROM employees JOIN departments ON employees.department_id = departments.id;"
    },
    {
        "user_query": "Find the total revenue generated by each product category.",
        "table_schema": "orders (id INT, product_id INT, quantity INT, total_price FLOAT), products (id INT, name TEXT, category TEXT)",
        "expected_sql": "SELECT products.category, SUM(orders.total_price) FROM orders JOIN products ON orders.product_id = products.id GROUP BY products.category;"
    },
    {
        "user_query": "Find all users who registered in the last 30 days.",
        "table_schema": "users (id INT, name TEXT, email TEXT, registration_date DATE)",
        "expected_sql": "SELECT * FROM users WHERE registration_date >= CURRENT_DATE - INTERVAL '30 days';"
    },
    {
        "user_query": "Search for books with 'Data Science' in the title.",
        "table_schema": "books (id INT, title TEXT, author TEXT, published_year INT)",
        "expected_sql": "SELECT * FROM books WHERE title LIKE '%Data Science%';"
    },
    {
        "user_query": "Show all orders with a total amount between $1000 and $5000.",
        "table_schema": "orders (id INT, customer_id INT, total_amount FLOAT, order_date DATE)",
        "expected_sql": "SELECT * FROM orders WHERE total_amount BETWEEN 1000 AND 5000;"
    },
    {
        "user_query": "Update the salary of employees in the IT department by 10%.",
        "table_schema": "employees (id INT, name TEXT, department TEXT, salary FLOAT)",
        "expected_sql": "UPDATE employees SET salary = salary * 1.10 WHERE department = 'IT';"
    },
    {
        "user_query": "Delete all inactive users who haven’t logged in for a year.",
        "table_schema": "users (id INT, name TEXT, last_login DATE)",
        "expected_sql": "DELETE FROM users WHERE last_login < CURRENT_DATE - INTERVAL '1 year';"
    }
]

In [37]:
df = pd.DataFrame(columns=["user_query", "schema", "sql_query", 'expected_sql'])
for user_query in test_cases:
        sql_query = sql_generator.generate_sql(user_query['user_query'],user_query['table_schema'])  # Generate SQL query
        df = pd.concat([
                        df, 
                        pd.DataFrame({
                                          "user_query": [user_query['user_query']],
                                          'schema' : [user_query['table_schema']], 
                                          "sql_query": [sql_query],
                                          'expected_sql' : [user_query['expected_sql']]
                                    })
                        ], 
                        ignore_index=True
                      )

In [40]:
df.to_csv('test_with_schema.csv',index=False)