In [72]:
from groq import Groq

In [132]:
class GrokSQL:
    def __init__(self, api_key):
        self.api_key = api_key
        client = Groq()
        
    def generate_sql(self, user_query, table_schema=None):
        """
        Generate an SQL query from a user request.
        :param user_query: The request in plain English, e.g., "Get the total sales for each month."
        :param table_schema: (Optional) Schema of the table to provide context.
        :return: SQL query as a string.
        """ 
        
        prompt = f"Generate an SQL query only (without explanation) and return string contains only query for: {user_query} "
        
        if table_schema:
            prompt += f"\nTable Schema: {table_schema}"

        completion = client.chat.completions.create(
                model="llama-3.3-70b-versatile",
                messages=[
                    {
                        "role": "user",
                        "content": prompt
                    }
                ],
                temperature=1,
                top_p=1,
                stream=True,
                stop=None,
        )

        a = ''
        for chunk in completion:
            content = chunk.choices[0].delta.content  
            if content is not None:  
                a += content 
        return a.removeprefix('```sql').removesuffix('```').replace('\n',' ').strip()

In [136]:
api_key = "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" "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"   # Replace with actual API key
sql_generator = GrokSQL(api_key)

# Example user query
user_query = "write a query for showing all columns from table empTab"
# user_query = "select all the car whose color is red and also are type B and sell after 2025"

# Example schema (optional)
table_schema = """
Tables:
    Car(id, name,color, type,sellDate))
"""

# Generate SQL
sql_query = sql_generator.generate_sql(user_query, table_schema)
a = sql_query

SELECT COUNT(DISTINCT customer_id)
FROM Orders
WHERE order_date >= DATE_SUB(CURDATE(), INTERVAL 6 MONTH);

In [137]:
a

'SELECT * FROM Car;'

In [102]:
print(a)

SELECT *
FROM Car
WHERE color = 'red'
AND type = 'B'
AND sellDate > '2025-01-01';

In [139]:
queries = [
    # Basic Queries
    "Get all customer details.",
    "Retrieve all employees from the database.",
    "Show all products available in the inventory.",
    "List all orders placed today.",
    "Find all students enrolled in the school.",

    # Filtering (WHERE Clause)
    "Find all employees who work in the IT department.",
    "Show all customers from New York.",
    "Get a list of students who scored above 90% in Math.",
    "Retrieve all transactions greater than $500.",
    "Find orders placed between January and March 2024.",

    # Sorting (ORDER BY)
    "Show the top 10 highest-paid employees.",
    "List products sorted by their price in descending order.",
    "Get the latest 5 orders placed by customers.",
    "Show employees sorted alphabetically by their last name.",
    "Display students sorted by their total marks.",

    # Counting (COUNT)
    "Count the number of employees in each department.",
    "Find the total number of registered users.",
    "Get the number of products available in stock.",
    "Count how many orders were placed in the last 7 days.",
    "Find the number of complaints received this month.",

    # Grouping (GROUP BY)
    "Get the total revenue generated by each product category.",
    "Count the number of students in each grade.",
    "Find the number of orders placed by each customer.",
    "Show the total sales per region.",
    "Display the number of employees in each job position.",

    # Joining Tables (JOIN)
    "Get the names of customers along with their order details.",
    "Retrieve employee names and their respective department names.",
    "Show student names along with their course details.",
    "List all orders with their corresponding payment details.",
    "Find all authors and their published books.",

    # Date-Based Queries
    "Find all users who registered in the last 30 days.",
    "Show orders placed in the last week.",
    "Get the attendance records for the current month.",
    "List transactions that happened yesterday.",
    "Find employees who joined the company in 2023.",

    # Search (LIKE)
    "Find all products with 'phone' in their name.",
    "Get a list of customers whose names start with 'A'.",
    "Search for books with 'Data Science' in the title.",
    "Retrieve employee emails that contain 'company.com'.",
    "Show orders with special instructions containing 'fragile'.",

    # Range Queries (BETWEEN)
    "Get all orders with an amount between $1000 and $5000.",
    "Find students who scored between 75 and 90 marks.",
    "Show employees whose salaries are between $50,000 and $80,000.",
    "Retrieve sales data for the period 2020 to 2023.",
    "Find all customers aged between 25 and 40.",

    # Updating Data (UPDATE)
    "Update the salary of employees in the IT department by 10%.",
    "Mark all orders shipped if the delivery date is passed.",
    "Change the status of inactive users to ‘suspended’.",
    "Update all product prices with a 5% discount.",
    "Set all students’ grades to 'Pass' if their marks are above 40.",

    # Deleting Data (DELETE)
    "Delete all inactive users who haven’t logged in for a year.",
    "Remove employees who resigned last year.",
    "Delete all expired promotional coupons.",
    "Remove products that are out of stock for more than 6 months.",
    "Delete all spam comments from the database."
]

In [141]:
for user_query in queries:
    sql_query = sql_generator.generate_sql(user_query )
    print(sql_query)

SELECT * FROM Customers;
SELECT * FROM employees;
SELECT * FROM products WHERE quantity > 0;
SELECT *  FROM orders  WHERE DATE(order_date) = DATE(NOW());
SELECT * FROM students;
SELECT *  FROM employees  WHERE department = 'IT';
SELECT *  FROM customers  WHERE city = 'New York';
SELECT student_name  FROM student_scores  WHERE math_score > 90;
SELECT * FROM transactions WHERE amount > 500;
SELECT * FROM orders WHERE EXTRACT(MONTH FROM order_date) BETWEEN 1 AND 3 AND EXTRACT(YEAR FROM order_date) = 2024;
SELECT      employee_name,      salary  FROM      employees  ORDER BY      salary DESC  LIMIT 10;
SELECT * FROM products ORDER BY price DESC;
SELECT *  FROM orders  ORDER BY order_date DESC  LIMIT 5;
SELECT * FROM employees ORDER BY last_name ASC;
SELECT *  FROM students  ORDER BY total_marks DESC;
SELECT department, COUNT(employee_id)  FROM employees  GROUP BY department;
SELECT COUNT(*) FROM users;
SELECT COUNT(*)  FROM products  WHERE stock_quantity > 0;
SELECT COUNT(*)  FROM orders  WHERE order_date >= NOW() - INTERVAL 7 DAY;
SELECT COUNT(*)  FROM complaints  WHERE DATE_TRUNC('month', complaint_date) = DATE_TRUNC('month', CURRENT_DATE);
SELECT      pc.category_name,      SUM(oi.unit_price * oi.quantity) AS total_revenue FROM      product_categories pc JOIN      products p ON pc.category_id = p.category_id JOIN      order_items oi ON p.product_id = oi.product_id GROUP BY      pc.category_name ORDER BY      total_revenue DESC;
SELECT grade, COUNT(*) as number_of_students  FROM students  GROUP BY grade;
SELECT customer_id, COUNT(*) as number_of_orders  FROM orders  GROUP BY customer_id;
SELECT region, SUM(sales) AS total_sales FROM sales_table GROUP BY region;
SELECT job, COUNT(*)  FROM employees  GROUP BY job;
SELECT c.customer_name, o.order_id, o.order_date, o.order_total FROM customers c JOIN orders o ON c.customer_id = o.customer_id;
SELECT e.employee_name, d.department_name  FROM employees e  JOIN departments d  ON e.department_id = d.department_id;
SELECT s.student_name, c.course_name, c.course_duration  FROM students s  INNER JOIN course_enrollments ce ON s.student_id = ce.student_id  INNER JOIN courses c ON ce.course_id = c.course_id;
SELECT o.*, p.* FROM orders o JOIN payments p ON o.order_id = p.order_id;
SELECT a.name, b.title  FROM authors a  JOIN books b ON a.id = b.author_id;
SELECT *  FROM users  WHERE registration_date >= NOW() - INTERVAL '30 days';
SELECT *  FROM orders  WHERE order_date >= NOW() - INTERVAL '7 day';
SELECT *  FROM attendance  WHERE EXTRACT(MONTH FROM attendance_date) = EXTRACT(MONTH FROM CURRENT_DATE)  AND EXTRACT(YEAR FROM attendance_date) = EXTRACT(YEAR FROM CURRENT_DATE);
SELECT *  FROM transactions  WHERE DATE(transaction_date) = DATE(NOW() - INTERVAL 1 DAY);
SELECT *  FROM employees  WHERE EXTRACT(YEAR FROM join_date) = 2023;
SELECT *  FROM products  WHERE name LIKE '%phone%';
SELECT * FROM customers WHERE name LIKE 'A%';
SELECT * FROM books WHERE title LIKE '%Data Science%';
SELECT email  FROM employees  WHERE email LIKE '%@company.com';
SELECT *  FROM orders  WHERE special_instructions LIKE '%fragile%';
SELECT *  FROM orders  WHERE amount BETWEEN 1000 AND 5000;
SELECT *  FROM students  WHERE marks BETWEEN 75 AND 90;
SELECT *  FROM employees  WHERE salary BETWEEN 50000 AND 80000;
SELECT * FROM sales WHERE sale_date BETWEEN '2020-01-01' AND '2023-12-31';
SELECT *  FROM customers  WHERE age BETWEEN 25 AND 40;
UPDATE Employees  SET Salary = Salary * 1.10  WHERE Department = 'IT';
UPDATE orders  SET status = 'shipped'  WHERE delivery_date < CURRENT_DATE;
UPDATE users SET status = 'suspended' WHERE status = 'inactive';
UPDATE products SET price = price * 0.95;
UPDATE students  SET grade = 'Pass'  WHERE marks > 40;
DELETE FROM users  WHERE last_login < (NOW() - INTERVAL 1 YEAR) AND is_active = FALSE;
DELETE FROM employees  WHERE resignation_date BETWEEN '2023-01-01' AND '2023-12-31';
DELETE FROM promotional_coupons  WHERE expiration_date < CURRENT_DATE;
DELETE FROM products  WHERE stock_quantity = 0 AND last_stock_update < NOW() - INTERVAL 6 MONTH;
DELETE FROM comments WHERE comment_type = 'spam';

In [142]:
import pandas as pd

df = pd.DataFrame(columns=["user_query", "sql_query"])

# Assuming `sql_generator.generate_sql(query)` is the function that generates SQL queries
for user_query in queries:
    sql_query = sql_generator.generate_sql(user_query)  # Generate SQL query
    df = pd.concat([df, pd.DataFrame({"user_query": [user_query], "sql_query": [sql_query]})], ignore_index=True)

In [152]:
df.to_csv('test.csv')